{{#each pins}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{name}}
    </h2>
    <h4>{{description}}</h4>
    <h4><b>Lattitude:</b> {{lattitude}}</h4>
    <h4><b>Longitude:</b> {{longitude}}</h4>
    <a href="/dashboard/deletepin/{{_id}}" class="button">
      <i class="fas fa-trash"></i>
    </a>
  </div>
{{/each}}